.index-page {
    display: none;
}

.index > div, .dit-team > div {
    /*text-align: center;*/
    /*width: 90%;*/
    font-family: "Montserrat", sans-serif;
    /*background-color: #1b1b1a;*/
    /*border-radius: 10px;*/
    /*padding: 24px 48px;*/
    /*margin: 2% 0 0 0;*/
    color: #ffffff;
}

.loader {
    display: none;
    background-color: #2b2b2b;
    padding: 7rem 5rem;
    width: 70%;
    border-radius: 1rem;
    position: absolute;
    text-align: center;
    top: 25%;
    right: 15%;
    left: 15%;
}

.loader__title {
    color: #faf8f9;
    font-size: 30px;
}

.loader__description {
    color: #afafaf;
    font-size: 23px;
    margin-bottom: 5rem;
}

.loader__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loader__icons img {
    transition: opacity 1s;
    opacity: 0;
}

.loader__icons img.loaded {
    opacity: 1;
}

.dit-team {
    /*padding: 20px;*/
}

.dit-team .acordion {
    text-align: left;
}

.dit-team .acordion > li {
    padding: .7rem 0;
}

.dit-team .acordion > li > a {
    font-size: 1.3rem;
    color: white !important;
}

.dit-team .acordion > li.active:after {
    background: white;
}

.dit-team .acordion > li ul li {
    line-height: 1.5rem;
}