.ed-check {
    position: absolute;
    z-index: 100;
    padding: 2px;
    border-radius: 5px;
    background: rgba(62, 62, 62, 0.8);
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.ed-check .ed-checkbox {
    width: 20px;
    height: 20px;
    background: #0b0d0d;
    margin: 2px;
    padding: 0;
}

.ed-check .ed-checkbox .ed-checked {
    left: 10px;
    top: 5px;
    height: 14px;
    width: 8px;
    border: solid #23B195;
    border-width: 0 3px 3px 0;
    box-sizing: border-box;
    transform: rotate(45deg);
    position: absolute;
    border-radius: unset;
    margin: 0;
    padding: 0;
}


.ed-card:hover figure.property-card {
    transform: scale(1.1);
    z-index: 1;
}

.ed-card:hover .ed-check {
    transition: 0.2s;
    transform: translate(-28px, -20px)
}

.ed-check:hover svg {
    color: #23b095
}

.ed-check:hover {
    background: rgba(62, 62, 62, 1);
}


.fancybox-wrap.fancybox-desktop.fancybox-type-inline {
    width: 100% !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
    opacity: 1 !important;
}

.fancybox-inner {
    width: 100% !important;
    height: 100% !important;
    padding-bottom: 25px;
}

.icf_l.full-width {
    width: 100%;
    overflow: auto;
    height: calc(100vh - 195px)!important;
    color: white;
}

.icf_l {
    display: list-item;
}

.carousel {
    background: transparent;
}

.carousel-cell {
    width: 30% !important;
    height: auto;
    margin-right: 10px;
    background: transparent;
}

.pl_keys .pl_properties{
    margin: 0 !important;
    padding: 0 !important;
    display: unset !important;
    width: 20% !important;
    float: left;
}

.pl_items .pl_properties{
    margin: 0 !important;
    padding: 0 !important;
    display: unset !important;
    float: left;
}

.flickity-button, .flickity-page-dots{
    display: none;
}

/*
.pl_items .pl_properties:hover{
    box-shadow: inset 0 0 10px 20px rgba(0, 0, 0, 0.31);
    !*background-color: rgba(23, 26, 27, 0.8)*!
}
*/


.icf_l.full-width::-webkit-scrollbar {
    width: 10px;
    margin-right: 10px;
}

.icf_l.full-width::-webkit-scrollbar-thumb {
    background: #23b095;
    border-radius: 10px;
}

#compare-collapse.container {
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 10000;
    right: 0;
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.31);
    border-radius: 13px !important;
    background-color: rgba(23, 26, 27, 0.8)
}

#compare-collapse .collapse-toggle.header-div {
    padding: 0 !important;
}

#compare-collapse .collapse-toggle.header-div:after, :before {
    content: none;
}

#compare-collapse .collapse-toggle.header-div .pull-left {
    padding: 15px;
}

#compare-collapse .collapse-toggle.header-div .pull-left:before {
    content: '';
    display: block;
    width: 22px;
    height: 16px;
    margin-right: 5px;
    background: url(../../img/arrow_dowm_small.svg) center center no-repeat;
    float: left;
}

#compare-collapse #sammenlign {
    padding: 4px 6px;
    margin-right: 13px;
    border: 2px solid;
    border-radius: 10px;
    background: transparent;
    outline: none;
}

#compare-collapse #sammenlign #compare-count{
    margin-left: 10px;
}

#compare-collapse #sammenlign:hover {
    border-color: #24b196;
    color: #24b196;
}

#compare-collapse .collapse-active .pull-left:before {
    transform: rotate(180deg);
}

#compare-collapse .collapse-active {
    border-radius: 13px 13px 0 0;
    border-bottom-color: #23b095;
}


#compare-collapse .caret {
    margin-left: 5px;
}

#compare-collapse #collapse-body {
    display: none;
    height: calc(50vh - 100px);
    overflow: auto;
}

#compare-collapse #collapse-body::-webkit-scrollbar {
    width: 10px;
    margin-right: 10px;
}

#compare-collapse #collapse-body::-webkit-scrollbar-thumb {
    background: #23b095;
    border-radius: 10px;
}

#collapse-body {
    padding: 2%;
}

#collapse-body .collapse-card {
    width: 100%;
    padding: 1%;
    position: relative;
}

#collapse-body .collapse-card:hover {
    background-color: rgba(0, 0, 0, 0.31);
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.31);
}

#collapse-body .collapse-card > div {
    width: 100%;
    display: flex;
}

#collapse-body .collapse-card > div .col-img {
    width: 20%
}

#collapse-body .collapse-card > div .col-img img {
    width: 100%
}

#collapse-body .collapse-card > div .col-title {
    width: 75%;
    padding: 0 15px;
}

#collapse-body .collapse-card .col-x {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #23b095;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}


#collapse-body .collapse-card .col-x:hover {
    color: red;
}




